[Unit]
Description=System Upgrade API Daemon
After=network.target

[Service]
Type=simple
User=sysupdate-api
Group=sysupdate-api
# Set the working directory to where the app code is
WorkingDirectory=/opt/pinsdaemon
# Set environment variables
Environment="API_TOKEN=zZDqJ3IKeFaIZqG2JIFvsxzA5E48GC2gyGVagHFZqC0OMtgoupUDZCPhQDYKm35d"
Environment="UPDATE_SCRIPT_PATH=/usr/local/bin/system-upgrade.sh"
Environment="SAMBA_SCRIPT_PATH=/usr/local/bin/manage-samba.sh"
Environment="WIFI_SCAN_SCRIPT_PATH=/usr/local/bin/wifi-scan.py"
Environment="WIFI_CONNECT_SCRIPT_PATH=/usr/local/bin/wifi-connect.sh"
# Run uvicorn using the virtual environment
ExecStart=/opt/pinsdaemon/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
